{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "function-paren-newline": ["error", "consistent"],
    "react/prefer-stateless-function": "off",
    "no-shadow": "off",
    "arrow-body-style": ["error", "always"],
    "react/prop-types": ["<enabled>", { "ignore": "<ignore>", "customValidators": "<customValidator>" }],
    "react/destructuring-assignment": ["<enabled>", "always"],
    "prefer-destructuring": ["error", {
      "array": false,
      "object": false
    }, {
      "enforceForRenamedProperties": false
    }],
    "no-unused-expressions": "off",
    "no-param-reassign": [2, {"props": false}],
    "react/forbid-prop-types": 0,
    "arrow-parens": "off",
    "class-methods-use-this": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  }
}
